.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 8rem;
    background: rgba(0, 0, 0, 0.37);
}

.header h1 {
    font-size: 35px;
    font-weight: 900;
}

.header > div > a{
    text-decoration: none;
    margin-left: 2rem;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.header > div > a:hover{
    color: #fff;
}

